.svn                                                                                                                    
*.xcuserdatad
.DS_Store                                                                                                               
Thumbs.db
