[core]
  excludesfile = ~/.gitignore
[alias]
  br = branch
  ci = commit
  co = checkout
  di = diff
  lg = log --graph --decorate
  lgo = log --graph --decorate --oneline
  st = status --short
[branch]
  autosetuprebase = always
[color]
  ui = auto
[user]
  name = Rianol Jou
  email = ar3sti@gmail.com
[push]
  default = matching
