[core]
    excludesFile = ~/.gitignore
    pager = delta

[alias]
    br = branch
    ci = commit
    co = checkout
    di = diff
    lg = log --graph --decorate
    lgo = log --graph --format=format:'%C(auto)%h%C(reset) %C(blue)%ai%C(reset) %C(green)%G?%C(reset) %C(normal)%s%C(reset) %C(cyan)%an %C(magenta)<%ae>%C(reset)%C(auto)%d%C(reset)'
    st = status --short

[color]
    ui = auto

[column]
    ui = auto

[commit]
    verbose = true

[delta]
    features = tokyonight
    navigate = true
    side-by-side = true

[delta "tokyonight"]
    minus-style                   = syntax "#37222c"
    minus-non-emph-style          = syntax "#37222c"
    minus-emph-style              = syntax "#713137"
    minus-empty-line-marker-style = syntax "#37222c"
    line-numbers-minus-style      = "#914c54"
    plus-style                    = syntax "#20303b"
    plus-non-emph-style           = syntax "#20303b"
    plus-emph-style               = syntax "#2c5a66"
    plus-empty-line-marker-style  = syntax "#20303b"
    line-numbers-plus-style       = "#449dab"
    line-numbers-zero-style       = "#3b4261"

[diff]
    algorithm = minimal
    colorMoved = true
    renames = true
    tool = nvimdiff

[difftool]
    prompt = false

[fetch]
    all = true
    prune = true
    pruneTags = true
    writeCommitGraph = true

[include]
    path = ~/.gitconfig.local

[interactive]
    diffFilter = delta --color-only

[init]
    defaultBranch = main

[merge]
    conflictstyle = zdiff3
    tool = nvimdiff

[mergetool]
    prompt = false

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = simple
    followTags = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[user]
    useConfigOnly = true
